﻿<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width" />
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
        <link rel="stylesheet" type="text/css"
              href="@Url.Content("~/Content/themes/simple/style.css")" />
        <style>
            body {
                background-image: url('../../Images/8047948330_b0e55d455f_b.jpg');
                background-repeat: no-repeat;
                background-attachment: scroll;
            }
        </style>
    </head>

    <body>
        <header>
            

            <div id="logo">
                <div id="logo_text">
                    <div class="content-wrapper">
                        <div class="float-left">
                            <h1><a href="/">More<span>Learn</span></a></h1>
                            <h2>Beyond learning english</h2>
                        </div>
                    </div>
                </div>
                <div class="content-wrapper">
                    <div class="float-right">
                        <div id="search">
                            <form class="searchform" action="" method="get">
                                <input class="s" onfocus="if (this.value == 'Tìm kiếm …') {this.value = '';}"
                                       onblur="if (this.value == '') {this.value = 'Tìm kiếm …';}" type="text" name="s"
                                       value="Tìm kiếm …" />
                                <input class="searchsubmit" type="submit" value="Tìm kiếm" />
                            </form>
                        </div>
                        <section id="login">
                            @Html.Partial("_LoginPartial")
                        </section>
                        <nav>
                            <ul id="menu">
                                <li>@Html.ActionLink("Post", "Index", "Home")</li>
                                <li>@Html.ActionLink("About", "About", "Home")</li>
                                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        <div id="body">

            
            <section class="featured" >
                
                <div class="content-wrapper">

                    <hgroup>
                        <div id="menu">
                            <ul>
                                <li>@Html.ActionLink("Trang chủ", "Index", "Home")</li>
                                <li><a href="/Posts">Tìm kiếm sản phẩm</a></li>
                                <li>
                                    <a href="/Posts/">Thủ thuật</a>
                                    <ul>
                                        <li><a href="/ThuThuats">Thủ thuật hay</a></li>
                                        <li><a href="/ThuThuats">Thủ thuật mới</a></li>
                                        <li><a href="/ThuThuats">Tất cả thủ thuật</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="">Hỏi đáp</a>
                                    <ul>
                                        <li><a href="/HoiDaps/Create">Đặt câu hỏi</a></li>
                                        <li><a href="/HoiDaps">Câu hỏi đã trả lời</a></li>
                                        <li><a href="/HoiDaps">Câu hỏi chưa trả lời</a></li>
                                    </ul>
                                </li>
                                <li><a href="/Posts">Đăng tải sản phẩm</a></li>
                                <li>
                                    <a href="/Posts">Drivers</a>
                                    <ul>
                                        <li><a href="www.acer.com" target="_blank">Acer</a></li>
                                        <li><a href="www.asus.com" target="_blank">Asus</a></li>
                                        <li><a href="www.sonny.com" target="_blank">Sonny</a></li>
                                        <li><a href="www.samsung.com" target="_blank">Samsung</a></li>
                                        <li><a href="www.dell.com" target="_blank">Dell</a></li>
                                        <li><a href="www.toshiba.com" target="_blank">Toshiba</a></li>
                                        <li><a href="www.lenovo.com" target="_blank">Lenovo IBM</a></li>
                                    </ul>
                                <li><a href="/Home/About">Hướng dẫn sử dụng</a></li>

                        </div>
                    </hgroup>
                    <br />




</section>
                @RenderSection("featured", required: false)
                <section class="content-wrapper">
                    @RenderBody()
                </section>
</div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p> Copyright © @DateTime.Now.Year - MoreLearn.com </p>
                </div>
            </div>
        </footer>

        
        @RenderSection("scripts", required: false)
    </body>
</html>
