﻿@model MVC4.Models.Post

<div class="post">
    <div class="post-meta">
        <div class="row">

            <!--Heading-->
            <div class="post-title">
                <h2>@Html.ActionLink("Posts", "Posts")</h2>
            </div>

        </div>

        <div class="row">

            <!--Category-->
            <div class="post-category">
                <span>Category: </span>@Html.ActionLink("Category", "Categorys")
            </div>

            <!--Tags-->
            <div class="post-tags">
                <span>Tags:</span>@Html.ActionLink("Tags", "Tags")
            </div>

            <!--Posted date-->
            <div class="posted-date">
                @Model.Ngaytao.ToLocalTime()
            </div>

        </div>

    </div>

    <!--Short Description-->
    <div class="post-body">
        @Html.Raw(Model.Title)
    </div>

    <div class="post-foot">
        @Html.ActionLink("continue...", "post", "blog",
        new
        {
            year = Model.Ngaytao.Year,
            month = Model.Ngaytao.Month,
            day = Model.Ngaytao.Day,
            title = Model.Title
        },
        new { title = "continue..." }
    )
    </div>
</div>