﻿@model MVC4.Models.Comment

<fieldset>
    <div class="display-field">
        <h4>@Html.DisplayFor(model => model.Body)</h4>
    </div>

    <div class="display-field">
        <i>Cách đây: @Html.DisplayFor(model => model.LastTime)</i>
    </div>
</fieldset>