﻿@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured" style="background-image: url('../../Images/8047948330_b0e55d455f_b.jpg')">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>@ViewBag.Title.</h1>
            <h2>@ViewBag.Message</h2>
        </hgroup>
        <p>

        </p>
    </div>
</section>
}
<h3></h3>
<ol class="round">
    <li class="one">
        <h5></h5>

        <a href="http://go.microsoft.com/fwlink/?LinkId=245151">Learn more…</a>
    </li>

    <li class="two">
        <h5></h5>
        
        <a href="http://go.microsoft.com/fwlink/?LinkId=245153">Learn more…</a>
    </li>

    <li class="three">
        <h5>Find Web Hosting</h5>
        
        <a href="http://go.microsoft.com/fwlink/?LinkId=245157">Learn more…</a>
    </li>
</ol>
