﻿@model MVC4.Models.Post

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Post</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Body)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Body)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Ngaytao)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Ngaytao)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Ngaychinhsua)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Ngaychinhsua)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserProfile.UserName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserProfile.UserName)
    </div>
</fieldset>

@Html.Partial("_addComment", new MVC4.Models.Comment(), ViewData)

<fieldset>
    <legend>Comment</legend>
        <div id="result">
        @foreach (var comment in Model.Comments.OrderByDescending(x => x.Ngaytao).Take(10))
        {
            <fieldset>
                <div class="display-field">
                    <h4>@Html.DisplayFor(x => comment.Body)</h4>
                </div>
        
                <div class="display-field">
                    <i>Cách đây: @Html.DisplayFor(x => comment.LastTime)</i>
                </div>
            </fieldset>
        }
        </div>
</fieldset>

    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
